.row
    .col-left
        div
            span.dark-shade-100
            div
                h3="Dark Shade 100%"
                .color-hash="#1F2041"
        div
            span.dark-shade-75
            div
                h3="Dark  Shade 75%"
                .color-hash="#1F2041"
        div
            span.dark-shade-50
            div
                h3="Dark  Shade 50%"
                .color-hash="#1F2041"
        div
            span.dark-shade-25
            div
                h3="Dark  Shade 25%"
                .color-hash="#1F2041"
        div
            span.dark-shade-5
            div
                h3="Dark  Shade 5%"
                .color-hash="#1F2041"
        div
            span.purple
            div
                h3="Purple"
                .color-hash="#BC9CFF"
        div
            span.green
            div
                h3="Green"
                .color-hash="#6FCF97"
    .col-right
        div
            span.h1='H1'
            div
                h1!=`This one is the sub-section or<br>widget title`
        div
            span.h2='H2'
            div
                h2!=`Next one is the item title inside<br>widgets`
        div
            span.h3='H3'
            div
                h3=`THIS IS A LABEL OR CTA TEXT`
        div
            span.body='Body'
            div
                p.textBady!=`This is the body text which is used for most<br>of the design, like paragraphs, lists, etc.`







